img {
  width: 100%;
  height: 100%;
}
.row {
  height: 300px;
  /* border: 1px solid black; */
  /* object-fit: cover; */
  display: flex;
  gap: 2px;
}
.row > div {
  flex: 1;
}
.vertical-collage img {
  height: 49.5%;
}
.vertical-collage {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
/* .horizantal-collage img{
    width: 50%;
    height: 50%;
} */
.horizantal-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

/* Responsive  media query for small device */
@media screen and (max-width: 576px) {
  .row {
    flex-direction: column;
    height: auto;
  }
  .horizantal-collage {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium device Responsive media query  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .row {
    flex-direction: column;
    height: auto;
  }
}
